* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    background: #000 url("img/bg.jpg") no-repeat center center/cover;
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

.btn {
    display: inline-block;
    color: #fff;
    background-color: #3fb573;
    font-size: 1em;
    text-align: center;
    padding: 10px 15px;
    border: 0;
    margin: 10px 0;
}

header {
    height: 200px;
}

header img {
    width: 200px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    height: 100px;
}

.form-control {
    display: block;
    padding: 10px;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    width: 60%;
    margin: auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.card {
    cursor: pointer;
    background-color: transparent;
    height: 300px;
    perspective: 1000px;
}

.card h1 {
    font-size: 25px;
    border-bottom: 1px #fff solid;
    padding: 10px;
    margin-bottom: 10px;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-inner {
    position: initial;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
    box-shadow: 0px 0px 10px 1px rgba(75, 75, 75, 0.53), 0px 0px 15px 2px #113c18;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card-back {
    background-color: #333;
    color: #fff;
    padding: 20px;
    transform: rotateY(180deg);
}

.card-back li {
    list-style: none;
    padding-bottom: 10px;
}

@media (max-width: 800px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .cards {
        grid-template-columns: 1fr;
    }
}

